.image-side {
    background-position: left;
    min-height: 100vh;
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 50%;
    z-index: 1;
}
.text-content {
    position: absolute;
    z-index: 2;
    margin-left: 20px;
}
.nav-tabs {
    height: 50px; /* Adjust the height as needed */
    border-bottom: 1px solid gray; /* Change the color here */
}
.nav-tabs .nav-link {
    height: 100%;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    color: white;
    border: none;
    border-radius: 0;
}
.nav-tabs .nav-link.active {
    background-color: black;
    color: white;
}
.forgot-password {
    float: right;
    text-decoration: none;
}
.rounded-top-left {
    border-top-left-radius: 17px !important;
}
.rounded-top-right {
    border-top-right-radius: 17px !important;
}
.font-size-md{
    font-size: 1.05rem !important;
}
.font-size-lg{
    font-size: 2rem !important;
}
body {
    background-color: #e8f5e9;
}
.card {
    border: 1px solid #4caf50;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.5);
    justify-content: right;
    margin-left: 180px;

}
.btn-primary {
    background-color: #4caf50; border: none;
}
.btn-primary:hover {
    background-color: #388e3c;
}
.text-center h3 {
    color: #4caf50;
}
.slideshow-images {
    position: relative;
    width: 130vh;
    height: 100%;

}

.slideshow-image {
    position: absolute;
    width: 130vh;
    height: 100%;
    object-fit: cover;
    opacity:0;
    transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
    opacity:1;
}
.image-side .slideshow-image {
    border-top-right-radius: 35px; /* Adjust the value as needed */
    border-bottom-right-radius: 35px; /* Adjust the value as needed */
}





